<%- include("../partials/head.ejs")%>
<%- include("../partials/header.ejs")%>
<%- include("../partials/navBar.ejs")%>

<div>
    <h1><%= producto.title %></h1>
    <div class="section-detail">
        <img src="producto.images" alt="" class="img-detail">
        <div class="section-details-info">

            <a class='btn btn-dark' href="/">VOLVER</a>
            <p>Resumen</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ex doloremque labore, asperiores aspernatur voluptas architecto officia doloribus suscipit totam ea aut! Mollitia, eius esse similique fugit impedit, facilis dicta eum harum dolore dolorem dolorum repudiandae maiores laborum unde. Molestiae deserunt nisi excepturi possimus ipsum minus provident dolorem nesciunt inventore placeat fugiat, omnis aliquam quidem officia unde adipisci illum repellat illo saepe beatae vitae explicabo nam odit iusto? Assumenda et minima hic explicabo nihil esse facere culpa. Atque ex enim aperiam, unde error nihil deserunt dolor provident labore porro praesentium? Distinctio ea impedit labore commodi. Tempore aspernatur ab, consequatur corrupti quibusdam iure in laboriosam repellendus, impedit, veritatis temporibus maxime. Eum quibusdam veniam iure eos rem eius beatae! Ullam, nobis culpa cum asperiores ipsum vitae rerum incidunt, tempora accusamus ipsam suscipit nesciunt illum consectetur aspernatur doloremque perferendis maxime at recusandae animi facere necessitatibus architecto. Deserunt aliquam ex quibusdam cumque deleniti nulla maxime aspernatur, animi aliquid nostrum labore ullam molestias ea. Autem eligendi earum animi, ab perspiciatis atque? Reiciendis, laudantium eligendi! Aut neque ipsum natus debitis, delectus laboriosam quo sed! Nisi, iure! Repellat nisi, eum aut odit error quidem ab nihil doloribus quis sit? Laboriosam sit quod, eaque nobis magnam pariatur saepe.</p>
            <div class="btn-comprar">

                <form action="/carrito/agregar" method="POST">
                  <input type="hidden" name="nombre" value="<%= producto.nombre %>">
                  <input type="hidden" name="descripcion" value="<%= producto.descripcion %>">
                  <input type="hidden" name="precio" value="<%= producto.precio %>">
                  <input type="hidden" name="stock" value="<%= producto.stock %>">
                  <button class="btn btn-success m-2 text-center btn-agregar" type="submit">Agregar al Carrito</button>
                </form>
              </div>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>