<%- include("../partials/head.ejs")%>


<div class="col-12">
    <div class="container-fluid p-3 w-100">
        <h4 class="mt-5 mb-4 text-center"><a href="/dashboard">VOLVER AL DASHBOARD</a></h4>
        <h1 class="mt-5 mb-4 text-center">Usuarios Registrados</h1>
        
        <%- include('../partials/messages') -%>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th style="background-color:#bdad98">Nombre</th>
                    <th style="background-color:#bdad98">Email</th>
                    <th style="background-color:#bdad98">Edicion</th>
                    <th style="background-color:#bdad98">Usuario Administrador</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th style="background-color:#bdad98">Nombre</th>
                    <th style="background-color:#bdad98">Email</th>
                    <th style="background-color:#bdad98">Edicion</th>
                    <th style="background-color:#bdad98">Usuario Administrador</th>
                </tr>
            </tfoot>
            <tbody>

                <% usuarios.forEach((usuario)=> { %>
                    <tr>
                        <td><%= usuario.nombre %></td>
                        <td><%= usuario.email %></td>     
                        <td>
                            <a class="btn btn-primary" href="/edituser/<%= usuario.id %>">Edit</a>
                            <input type="hidden" name="_method" value="PUT">
                            <form style="display: inline;" action="/delete/usuario/<%= usuario.id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                        </td>
                        <td><%= usuario.esAdmin %></td>
                    </tr>

                <% }); %>
                
            </tbody>
        </table>
    </div>
</div>
</div>
<%- include("../partials/footer-admin.ejs")%>

