<%- include("../partials/head.ejs")%>
<%- include("../partials/header.ejs")%>
  <%- include("../partials/navBar.ejs")%>

    <div class="container-fluid carro-container">
      <h1 class="text-center">CARRITO DE COMPRAS</h1>
      <div class="d-flex justify-content-center">
        <a href="/prod" ><h3 class="text-danger fw-bold mt-3">Elegir más productos</h3></a>
    </div>
    
      <% carrito.forEach((producto, index)=> { %>
        <div class="d-flex mt-3 ">
          <div>
            <h2 class="fw-bold">
              <%= producto.nombre %>
            </h2>
            <p>
              <%= producto.descripcion %>
            </p>
            <p class="fw-bold text-primary">Precio: <%= producto.precio %>
            </p>
            <p>Unidades disponibles: <%= producto.stock %>
            </p>
            <p>Cantidad: <%= producto.cantidad || 1 %>
            </p> <!-- Mostrar el número 1 como valor predeterminado -->
          

            <div class="botones-carro">

              <form action="/carrito/eliminar/<%= index %>" method="POST">
                <button class="btn   m-2 btn-eliminar" type="submit">Eliminar</button>
              </form>

              <form action="/carrito/restar/<%= index %>" method="POST">
                <button class="btn btn-secondary m-2 btn-restar" type="submit" <%=producto.cantidad===1 ? 'disabled' : '' %>>Quitar
                  -</button> <!-- Botón para restar cantidad -->
              </form>

              <form action="/carrito/sumar/<%= index %>" method="POST">
                <button class="btn btn-danger m-2" type="submit" <%=producto.stock===0 ? 'disabled' : '' %>>Agregar
                  +</button> <!-- Botón para sumar cantidad -->
              </form>            
             
            </div>

          </div>
        </div>
        <% }); %>

          <p class="text-center fw-bold mt-2 total">Total: $ <%= total %>
          </p> <!-- Muestra la suma total -->
          <div class="btn-comprar">
            <a href="/compraRealizada"><button class="btn btn-primary m-2 botoncomp">Comprar</button></a>
          </div>

    </div>