<%- include("../partials/head.ejs")%>
  <%- include("../partials/navBar.ejs")%>

    <div class="container-fluid carro-container">
      <h1 class="text-center">CARRITO DE COMPRAS</h1>

      <a href="/prod" class="text-primary fw-bold">Ver Productos</a>
      <% carrito.forEach((producto, index)=> { %>
        <div class="d-flex mt-3 ">
          <div>
            <h2>
              <%= producto.nombre %>
            </h2>
            <p>
              <%= producto.descripcion %>
            </p>
            <p>Precio: <%= producto.precio %>
            </p>
            <p>Unidades disponibles: <%= producto.stock %>
            </p>
            <p>Cantidad: <%= producto.cantidad || 1 %>
            </p> <!-- Mostrar el número 1 como valor predeterminado -->

            <div class="botones-carro">

              <form action="/carrito/sumar/<%= index %>" method="POST">
                <button class="btn btn-secondary m-2" type="submit" <%=producto.stock===0 ? 'disabled' : '' %>>Agregar
                  +</button> <!-- Botón para sumar cantidad -->
              </form>
              <form action="/carrito/restar/<%= index %>" method="POST">
                <button class="btn btn-secondary m-2" type="submit" <%=producto.cantidad===1 ? 'disabled' : '' %>>Quitar
                  -</button> <!-- Botón para restar cantidad -->
              </form>
              <form action="/carrito/eliminar/<%= index %>" method="POST">
                <button class="btn btn-danger  m-2" type="submit">Eliminar</button>
              </form>

            </div>

          </div>
        </div>
        <% }); %>

          <p class="text-dark fw-bold mt-2">Total: $ <%= total %>
          </p> <!-- Muestra la suma total -->
          <div class="btn-comprar">
            <a href="/compraRealizada"><button class="btn btn-primary m-2 botoncomp">Comprar</button></a>
          </div>
          
    </div>