<%- include("../partials/head.ejs")%>
<%- include("../partials/navBar.ejs")%>

<h1>Carrito de Compras</h1>

<% carrito.forEach((producto) => { %>
  <div>
    <h2><%= producto.nombre %></h2>
    <p><%= producto.descripcion %></p>
    <p>Precio: <%= producto.precio %></p>
  </div>
<% }); %>

<p>Total: <%= total %></p> <!-- Muestra la suma total -->

<%- include('../partials/footer') -%>