


<div class="container-fluid carro-container">
  <div class="card col-4">
    <div class="etiquetas">
      <p>NUEVO</p>
      <p>EXCLUSIVO</p>
      <p>BEST SELLER</p>
    </div>
    <div class="imagen">
      <img src="<%= producto.images %>" class="card-img-top" alt="">
    </div>
    <div class="card-body">
      <p class="card-title price"> $ <%= producto.prices %></p>
      <p class="card-text description"> <%= producto.title %> </p>
      <form action="/carrito/agregar" method="POST">
        <input type="hidden" name="title" value="<%= producto.title %>">
        <input type="hidden" name="description" value="<%= producto.description %>">
        <input type="hidden" name="prices" value="<%= producto.prices %>">
        <input type="hidden" name="stock" value="<%= producto.stock %>">
        <input type="hidden" name="images" value="<%= producto.images %>">
        <button class="btn btn-danger btn-detail" type="submit">COMPRAR</button>
      </form>
    </div>
  </div>
</div>

