<style type="text/css">
  p {
    color: rgb(44, 44, 155);
    font-weight: bold;
    font-size: 1.5rem;
  }
h1{
  margin-left: 30px;
}
  h2 {
    background-color: rgb(112, 104, 104);
    color: white;
  }

  button {
    color: white;
    background-color: rgb(11, 94, 215);
    height: 35px;
    width: 150px;
    border-radius: 10%;
    margin-left: 25%;
   
  }

  img {
    height: 60%;
    width: 60%;
    align-items: center;
    margin-left: 30px;
  }

  .carro {
    background-color: rgb(206, 194, 179);
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 20%;
    border-radius: 5%;
  }
  .div1{
    width: 50%;
    padding: 30px;
  }
  .div2{
    width: 50%;
    text-align: justify;
    padding: 30px;
       
  }
  .div1 p{
    text-align: center;
  }
  .div2 h1{
    text-align: center;
  }

  .foto-carro {
    align-items: center;
  }
</style>

<div class="carro">
  <div>
  <h1>Titulo: <%= producto.title %></h1>
  <img src="<%= producto.images %>" class="foto-carro" alt="">

  <div class="div1">
    <p>Precio: $ <%= producto.price %></p>
    
    <form action="/carrito/agregar" method="POST">
      <input type="hidden" name="title" value="<%= producto.title %>">
      <input type="hidden" name="description" value="<%= producto.description %>">
      <input type="hidden" name="price" value="<%= producto.price %>">
      <input type="hidden" name="stock" value="<%= producto.stock %>">
      <input type="hidden" name="images" value="<%= producto.images %>">
      <button class="btn btn-danger btn-detail" type="submit">COMPRAR</button>
    </form>
  </div>
  </div>
<div class="div2">
  <h1>Descripcion: </h1>
  <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio autem maiores ex consequuntur aliquam est sunt libero quam animi fugiat pariatur suscipit nisi, exercitationem eum porro voluptate doloremque dolores accusantium.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. In repudiandae commodi perspiciatis iusto debitis optio officiis, dignissimos sit tempora adipisci quibusdam suscipit qui excepturi! A voluptates accusantium vitae eius! Corporis.    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sit doloribus accusamus ipsum esse aspernatur molestiae tenetur aliquid dolor dignissimos laudantium illum ea eius maxime, porro soluta enim necessitatibus a?</P>
</div>
</div>

<%- include("../partials/footer-admin.ejs")%>
