<%- include("../partials/head.ejs")%>
<%- include("../partials/header.ejs", { userName: userName }) %>
  <%- include("../partials/navBar.ejs")%>

    <% productos.forEach((producto)=> { %>
    
      <div class="prod-container">
        <!-- container-fluid carro-container  -->

        <div class="prod">
          <h1>
            <%= producto.title %>
          </h1>
          <img src="http://i.annihil.us/u/prod/marvel/i/mg/9/03/56f465c004665.jpg" alt="" class="prod">
          <p class="text-dark ">
            <%= producto.description %>
          </p>
          <p class="text-primary fw-bold">Precio: <%= producto.price %>
          </p>
          <p class="text-dark">Unidades disponibles: <%= producto.stock %>
          </p>
        </div>

        <div class="btn-comprar">

          <form action="/carrito/agregar" method="POST">
            <input type="hidden" name="nombre" value="<%= producto.title %>">
            <input type="hidden" name="descripcion" value="<%= producto.description %>">
            <input type="hidden" name="img" value="<%= producto.images %>">
            <input type="hidden" name="precio" value="<%= producto.precio %>">
            <input type="hidden" name="stock" value="<%= producto.stock %>">
            <button class="btn btn-success m-2 text-center btn-agregar" type="submit">Agregar al Carrito</button>
          </form>
        </div>
      </div>
      <% }); %>

        <%- include('../partials/footer') -%>