<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs", { userName: userName }) %>
<%- include("../partials/navBar.ejs") %>

<div class="d-flex justify-content-center flex-wrap">
  <% productos.slice(0, 20).forEach((producto) => { %>
    <div class="card col-4">
      <div class="etiquetas">
        <p>NUEVO</p>
        <p>EXCLUSIVO</p>
        <p>BEST SELLER</p>
      </div>
      <div class="imagen">
        <img src="<%= producto.images %>" class="card-img-top" alt="">
      </div>
      <div class="card-body">
        <p class="card-title price"> $ <%= producto.prices %></p>
        <p class="card-text description"> <%= producto.title %> </p>
        <form action="/details/<%= producto._id %>" method="GET">
          <button class="btn btn-info btn-detail" type="submit">DETAILS</button>
        </form>
      </div>
    </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>